body {
    font-family: 'lato', sans-serif;
    min-width: 1200px;
  }

  
  .container-1 {
    /* max-width: 1000px; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }
  
  .responsive-table {
    li {
      border-radius: 3px;
      padding:10px 13px;
      display: flex;
      justify-content: start;
      margin-bottom: 11px;
      font-size: 1.5rem;
      border: 1px solid rgb(177, 176, 176);
    }
    .table-header {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      /* padding: 0; */
      border: none;
      margin: 0px;
    }
    
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 8%;
      text-align: center;
    }
    .col-2 {
      flex-basis: 15%;
      text-align: center;
    }
    .col-3 {
      flex-basis: 30%;
      text-align: center;
    }
    .col-4 {
      flex-basis: 15%;
      text-align: center;
    }
    .col-5 {
      flex-basis: 20%;
      text-align: center;
    }
    .col-6 {
      text-align: center;
    }
    .col-6 a{
      text-decoration: none;
      color: black;
      margin: 5px;
    }
    .col-1 a{
      text-decoration: none;
    }
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .col-m{
          margin-top: 80px;
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        /* display: flex; */
       
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }
  
  .pur{
      background-color: #e4e4e4;
      padding: 15px;
      border-radius: 10px;
      display: flex;
  }
  
  .pur i{
      font-size: 20px;
      padding: 4px;
  }
  
  .container-1 div{
      width: 100%;
      text-align: center;
  }
  
  .view{
      padding: 5px;
      background-color: #1b40a5;
      border-radius: 10px;
      color: white;
      border: gray;
  }

.purchase {
    background-color: #ffffff;
    margin: 90px 1% 0 1%;
    padding: 20px;
    border-radius: 5px;
}

/* Button CSS */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    top: 80px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .btn-add-del{
      display: flex;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
  }
  
  .del-29{
      background-image: radial-gradient(100% 100% at 100% 0, #ff975a 0, #e9a040 100%);
  }
  
  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .del-29:hover{
      box-shadow: rgba(66, 36, 35, 0.4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e09e3c 0 -3px 0 inset;
  }
  
  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  .del-29:active{
      box-shadow: #e0993c 0 3px 7px inset;
      transform: translateY(2px);
  }
  .del-29:focus{
    box-shadow: #e0993c 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e0933c 0 -3px 0 inset;
  }

/* list vender for filter */
.list-v{
    display: none;
    background-color: #d4d4d4;
    position: absolute;
    top:130px;
    right: 20px;
    margin-top: 10px;
    padding: 15px;
    width: 240px;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: scroll;
}
.list-v ul li{
    text-decoration: none;
    list-style: none;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
/* form for order add */
#status{
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
}

/* start rating */

.star-rating {
  font-size: 0; /* Hide the text label */
}

.star-rating input[type="radio"] {
  display: none; /* Hide the radio buttons */
}

.star-rating label {
  font-size: 30px; /* Set the size of the stars */
  cursor: pointer;
  color: #ccc; /* Default color of the stars */
}

.star-rating input[type="radio"]:checked ~ label {
  color: #ffdd00; /* Color of the selected stars */
}
