{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "CSS/style.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="body1"> 
        <div class="card">
            <h3>VENDOR MANAGEMENT SYSTEM <strong>(VSM)</strong></h3>
            <img src="../static/image/bh_from.png" alt="">
            <a href="{% url "vendorlist" %}" style="text-decoration:none;"><button class="button-25" role="button">Go to Website</button></a>
        </div>
    </div>
</body>
</html>


